body {
    background-color: black !important;
}

input {
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 5px !important;
    border: 1px solid #676767;
}

input[type="text"] {
    line-height: 30px; 
}

.full-width {
    width: 100%;
}

.title {
    color: white;
}

.button {
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.vertical-center {
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bottom-align-text {
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin: auto;
}